@{
    ViewBag.Title = "Home Page";
}
<h1>The Workshop Finder</h1>
<p>This will be a fun website soon!</p>

<form>
    <div>
        <label>Workshop</label>
        <input />
    </div>
    <div>
        <label>Description</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>

